<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forum - Home</title>
</head>
<body>
  <h3>Forum</h3>
  <p>
    <a href = "/users/new">Create account</a><br>
    <a href = "/topics/new">New Topic</a>
  </p>
  {{#allPosts}}
    <p><a href = "/topics/{{topic_id}}">{{topic}}</a> - posted by {{username}} / upvotes - {{votes}}</p>
  {{/allPosts}}
  <!-- links -->
  <p><a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a></p>
</body>
</html>