<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{topic}}</title>
</head>
<body>
  <b>{{topic}}</b><br>
  Posted by {{topicUser}} ({{location}}) / {{upvotes}} upvotes<br><br>
<!-- comments loop  -->
  <b>{{count}} Comments</b>
  {{#comments}}
  {{{comment}}} Posted by {{username}} ({{commentLocation}})
  {{/comments}}
<!-- add a comment  -->
  <p>
    <h3>Add a comment</h3>
    <form method = "POST" action = "/comments">
<!--       <label>
        <input type = "text" name = "comment"/> Enter comment
      </label> -->
      <label>
        <input type = "text" name = "username"/> Username
      </label>
      <br><br>
      <textarea name = "comment" cols = "60" rows = "10">Enter comment here</textarea>
      <input type = "hidden" name = "topic_id" value = "{{topic_id}}"/>
      <br>
      <button>Post Comment</button>
    </form>
  </p>
  <p><a href = "/topics/{{topic_id}}/edit">Edit this topic</a></p>
  <!-- links -->
  <p><a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a></p>
</body>
</html>