<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Podcast Hunt</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
  <nav class = "navbar navbar-default">
    <div class = "container">
      <h4>Podcast Hunt</h4> <!-- <a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a> -->
      <ul class="nav nav-pills">
        <li role="navigation"><a href = "/">Home</a></li>
        <li role="navigation"><a href = "/users">Users</a></li>
        <li role="navigation"><a href = "/topics/new">Post Topic</a></li>
        <li role="navigation"><a href = "/users/new">Create Account</a></li>
      </ul>
    </div>
  </nav>
  <div class = "container">
    <div class = "row">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{topic}}</h3>
        </div>
        <div class="panel-body">
          Posted by {{topicUser}} ({{location}}) on {{time}} / {{upvotes}} upvotes<br><br>
          {{{body}}}
        </div>
      </div>
    <!-- comments loop  -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{count}} Comments</h3>
        </div>
        <div class="panel-body">
          {{#comments}}
          <div class="well well-sm">
            {{{comment}}} Posted by {{username}} ({{commentLocation}})<br>
          </div>
          {{/comments}}
        </div>
      </div>
    <!-- add a comment  -->
      <p>
        <h4>Add a comment</h4>
        <form method = "POST" action = "/comments">
          <label>
            <input type = "text" name = "username"/> Username
          </label>
          <br><br>
          Comment<br>
          <textarea name = "comment" cols = "60" rows = "10"></textarea>
          <input type = "hidden" name = "topic_id" value = "{{topic_id}}"/>
          <br>
          <button>Post Comment</button>
        </form>
      </p>
      <p><a href = "/topics/{{topic_id}}/edit">Edit this topic</a></p>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>