<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Podcast Hunt</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
  <nav class = "navbar navbar-default">
    <div class = "container">
      <h4>Podcast Hunt</h4> <!-- <a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a> -->
      <ul class="nav nav-pills">
        <li role="navigation"><a href = "/">Home</a></li>
        <li role="navigation"><a href = "/users">Users</a></li>
        <li role="navigation"><a href = "/topics/new">Post Topic</a></li>
        <li role="navigation"><a href = "/users/new">Create Account</a></li>
      </ul>
    </div>
  </nav>
  <div class = "container">
    <div class = "row">
      <h4>{{topic}}</h4>
      Posted by {{topicUser}} ({{location}}) / {{upvotes}} upvotes<br><br>
    <!-- comments loop  -->
      <h4>{{count}} Comments</h4>
      {{#comments}}
      {{{comment}}} Posted by {{username}} ({{commentLocation}})<br><br>
      {{/comments}}
    <!-- add a comment  -->
      <p><br><br>
        <h4>Add a comment</h4>
        <form method = "POST" action = "/comments">
    <!--       <label>
            <input type = "text" name = "comment"/> Enter comment
          </label> -->
          <label>
            <input type = "text" name = "username"/> Username
          </label>
          <br><br>
          <textarea name = "comment" cols = "60" rows = "10">Enter comment here</textarea>
          <input type = "hidden" name = "topic_id" value = "{{topic_id}}"/>
          <br>
          <button>Post Comment</button>
        </form>
      </p>
      <p><a href = "/topics/{{topic_id}}/edit">Edit this topic</a></p>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>