<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User accounts</title>
  <style>
    p {
      display: block;
    }
  </style>
</head>
<body>
  {{#allUsers}}
  <p>
    username: <a href = "/users/{{user_id}}">{{username}}</a> / email: {{email}} / 
    <a href = "/users/{{user_id}}/edit">edit</a>
  </p>
  {{/allUsers}}
  <!-- links -->
  <p><a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a></p>
</body>
</html>