<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{username}}</title>
</head>
<body>
  <h3>{{username}}</h3>
  <h4>topics created by {{username}}</h4>
  <p>
    {{#posts}}
      {{topic}} / {{votes}} / {{location}}<br>
    {{/posts}}
  </p>
  <h4>comments created by {{username}}</h4>
  <p>
    {{#comments}}
      {{comment}} on {{topic}} from {{commentLocation}}<br>
    {{/comments}}
  </p>
    <!-- links -->
  <p><a href = "/">Home</a> / <a href = "/users">Users</a> / <a href = "/topics/new">Create Topic</a> / <a href = "/users/new">Create Account</a></p>
</body>
</html>